Instagram Lead Generation Workflow.json
{
  "name": "Instagram Lead Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "reGe1ST3OBgYZSsZJ",
          "mode": "list",
          "cachedResultName": "Instagram Hashtag Scraper (apify/instagram-hashtag-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/reGe1ST3OBgYZSsZJ/input"
        }
      },
      "type": "@apify/n8n-nodes-apify.apifyTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -448
      ],
      "id": "0ffe6184-1d25-42df-a86b-3255f828fbf8",
      "name": "Hashtag scraper",
      "webhookId": "11452672-df4f-41cc-ae76-1af31ef6dad4",
      "credentials": {
        "apifyApi": {
          "id": "6MLcvhZkcqGlvBk9",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.resource.defaultDatasetId }}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -112,
        -448
      ],
      "id": "becf9382-0789-4ed6-a22b-3c93137526fe",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "6MLcvhZkcqGlvBk9",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.resource.defaultDatasetId }}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -112,
        -240
      ],
      "id": "1924a39e-7819-4b5f-9797-768347d88131",
      "name": "Get dataset items1",
      "credentials": {
        "apifyApi": {
          "id": "6MLcvhZkcqGlvBk9",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "DrF9mzPPEuVizVF4l",
          "mode": "list",
          "cachedResultName": "Instagram Search Scraper (apify/instagram-search-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/DrF9mzPPEuVizVF4l/input"
        }
      },
      "type": "@apify/n8n-nodes-apify.apifyTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -240
      ],
      "id": "69bcc0fb-3ca8-4339-ada7-3cc09f159ce9",
      "name": "Search scraper",
      "webhookId": "82a7a21d-d8e0-48f8-8bb9-1d70683f8129",
      "credentials": {
        "apifyApi": {
          "id": "6MLcvhZkcqGlvBk9",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all data\nconst items = $input.all();\n\nconst results = items.map(item => {\n    const data = item.json;\n    \n    // Detect: Is this a Post (Hashtag) or a Profile (Search)?\n    // Posts usually have a 'type' field (Image, Sidecar, Video)\n    const isPost = data.type === \"Image\" || data.type === \"Sidecar\" || data.type === \"Video\";\n\n    if (isPost) {\n        // --- CASE A: IT IS A POST (HASHTAG SCRAPER) ---\n        // We only have the username. We DO NOT have bio, email, or followers.\n        return {\n            json: {\n                Username: data.ownerUsername || \"Unknown\",\n                ProfileURL: `https://www.instagram.com/${data.ownerUsername}`,\n                Followers: 9999, // Dummy number so it passes the filter\n                Tier: \"Source: Hashtag\",\n                Bio: \"N/A (Post Source)\",\n                Email: \"N/A\",\n                ExternalURL: \"N/A\",\n                IsPrivate: false, // If we can see the post, it's public\n                IsPost: true // Mark it so we know\n            }\n        };\n    } else {\n        // --- CASE B: IT'S A FULL PROFILE (SEARCH SCRAPER) ---\n        // Run the full extraction logic.\n        \n        const bio = data.biography || \"\";\n        const emailRegex = /([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9_-]+)/;\n        const extractedEmail = bio ? (bio.match(emailRegex) || [])[0] : \"N/A\";\n        \n        let tier = \"Nano\";\n        if (data.followersCount >= 100000) tier = \"Macro\";\n        else if (data.followersCount >= 10000) tier = \"Mid-Tier\";\n        else if (data.followersCount >= 1000) tier = \"Micro\";\n\n        return {\n            json: {\n                Username: data.username,\n                ProfileURL: `https://www.instagram.com/${data.username}`,\n                Followers: data.followersCount || 0,\n                Tier: tier,\n                Bio: bio,\n                Email: extractedEmail,\n                ExternalURL: data.externalUrl || \"N/A\",\n                IsPrivate: data.isPrivate || false,\n                IsPost: false\n            }\n        };\n    }\n});\n\n// 2. THE FILTER\nreturn results.filter(item => {\n    const u = item.json;\n\n    // IF IT WAS A POST: Let it through! (We can't filter what we don't know)\n    if (u.IsPost === true) return true;\n\n    // IF IT WAS A PROFILE: Apply strict quality gates\n    if (u.IsPrivate) return false;\n    if (u.Followers < 1000) return false;\n    if (!u.Bio) return false;\n    \n    // Strict Contact Check for Profiles\n    return (u.ExternalURL !== \"N/A\") || (u.Email !== \"N/A\");\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -368
      ],
      "id": "c4042844-56e5-46af-86e6-9fd5fc0fd3c8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1A71Uvak7SPbdP96xTkNJvVxK4ZAlYYfedUmNdrrjRfM",
          "mode": "list",
          "cachedResultName": "Instagram leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A71Uvak7SPbdP96xTkNJvVxK4ZAlYYfedUmNdrrjRfM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A71Uvak7SPbdP96xTkNJvVxK4ZAlYYfedUmNdrrjRfM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProfileURL",
              "displayName": "ProfileURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bio",
              "displayName": "Bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ExternalURL",
              "displayName": "ExternalURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IsPrivate",
              "displayName": "IsPrivate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IsPost",
              "displayName": "IsPost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        -368
      ],
      "id": "a9e9abf1-d379-4b4e-86cb-687945ad6995",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n5RuhvYzgQrawFUz",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Hashtag scraper": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search scraper": {
      "main": [
        [
          {
            "node": "Get dataset items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "70aa9b78-5126-4819-b49f-b519c09b2eea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae8d8e706bc0a9a153a1dc3d53a381b9c3052ba315886d468e0aaf8767e67c54"
  },
  "id": "PPbBUa7QHXMgMi99s28QC",
  "tags": []
}
