Instagram Lead Generation/Instagram Lead Generation Workflow.json
{
  "name": "Instagram Lead Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "reGe1ST3OBgYZSsZJ",
          "mode": "list",
          "cachedResultName": "Instagram Hashtag Scraper (apify/instagram-hashtag-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/reGe1ST3OBgYZSsZJ/input"
        }
      },
      "type": "@apify/n8n-nodes-apify.apifyTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -464
      ],
      "id": "e97a0813-96bb-4b68-8f39-5bce7a622340",
      "name": "Hashtag scraper",
      "webhookId": "b1564285-2dd5-4b0a-a84b-04bc25a7b1f9",
      "credentials": {
        "apifyApi": {
          "id": "XpOjzBF1amIppIsP",
          "name": "Apify account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.resource.defaultDatasetId }}",
        "offset": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -48,
        -464
      ],
      "id": "adfd8419-d889-468e-b451-9e0e1d440141",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "XpOjzBF1amIppIsP",
          "name": "Apify account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 1. Extract ownerUsername\nconst usernames = items.map(item => item.json.ownerUsername).filter(u => u);\n\n// 2. Clean inputs \nconst cleanedUsers = usernames.map(u => u.replace(/[._]/g, \" \"));\n\n// 3. Remove duplicates\nconst uniqueUsers = [...new Set(cleanedUsers)];\n\n// 4. Create the comma-separated string\nreturn {\n  json: {\n    searchQuery: uniqueUsers.join(\", \")\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -464
      ],
      "id": "270e1142-cf2f-40bf-98a0-10b77fe331a4",
      "name": "Extracting Code"
    },
    {
      "parameters": {
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/DrF9mzPPEuVizVF4l",
          "mode": "url"
        },
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        288,
        -464
      ],
      "id": "4510dea5-ef10-4b8b-a3cf-ab7b73ad9432",
      "name": "Run Search Scraper",
      "credentials": {
        "apifyApi": {
          "id": "XpOjzBF1amIppIsP",
          "name": "Apify account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.resource.defaultDatasetId }}",
        "offset": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        480,
        -464
      ],
      "id": "f218566c-39bf-470a-9905-19613ebf8738",
      "name": "Get dataset items from Search Scraper",
      "credentials": {
        "apifyApi": {
          "id": "XpOjzBF1amIppIsP",
          "name": "Apify account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst results = items.map(item => {\n    const data = item.json;\n    \n    // Extract email from bio using Regex\n    const bio = data.biography || \"\";\n    const emailRegex = /([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9_-]+)/;\n    const extractedEmail = bio ? (bio.match(emailRegex) || [])[0] : \"N/A\";\n\n    // Define Tier\n    let tier = \"Nano\";\n    if (data.followersCount >= 100000) tier = \"Macro\";\n    else if (data.followersCount >= 10000) tier = \"Mid-Tier\";\n    else if (data.followersCount >= 1000) tier = \"Micro\";\n\n    return {\n        json: {\n            Username: data.username,\n            ProfileURL: `https://www.instagram.com/${data.username}`,\n            Followers: data.followersCount || 0,\n            Tier: tier,\n            Bio: bio,\n            Email: extractedEmail || \"N/A\", \n            ExternalURL: data.externalUrl || \"N/A\",\n            IsPrivate: data.isPrivate || false\n        }\n    };\n});\n\n// Strict Filter: Only keep Public profiles with Contact Info\nreturn results.filter(item => {\n    const u = item.json;\n    if (u.IsPrivate) return false; \n    if (u.Followers < 1000) return false; \n    if (!u.Bio) return false;\n    return (u.ExternalURL !== \"N/A\") || (u.Email !== \"N/A\");\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -464
      ],
      "id": "c029f930-3295-4ccf-967e-6a6d381c6c3a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1A71Uvak7SPbdP96xTkNJvVxK4ZAlYYfedUmNdrrjRfM",
          "mode": "list",
          "cachedResultName": "Instagram leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A71Uvak7SPbdP96xTkNJvVxK4ZAlYYfedUmNdrrjRfM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A71Uvak7SPbdP96xTkNJvVxK4ZAlYYfedUmNdrrjRfM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Username"
          ],
          "schema": [
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ProfileURL",
              "displayName": "ProfileURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bio",
              "displayName": "Bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ExternalURL",
              "displayName": "ExternalURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IsPrivate",
              "displayName": "IsPrivate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        -464
      ],
      "id": "faf908cc-0db8-4ee6-ac66-fd74a02c068c",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n5RuhvYzgQrawFUz",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Hashtag scraper": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Extracting Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extracting Code": {
      "main": [
        [
          {
            "node": "Run Search Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Search Scraper": {
      "main": [
        [
          {
            "node": "Get dataset items from Search Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items from Search Scraper": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b91e81eb-1c92-4105-8905-53b548d72130",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae8d8e706bc0a9a153a1dc3d53a381b9c3052ba315886d468e0aaf8767e67c54"
  },
  "id": "fJVzKnasSarEv0kU",
  "tags": []
}
